{%extends 'base.html'%}

{%block konten%}
<div class="row  bg-dark py-5">
    <div class="col-12">
       <div class="container">
        <h1 class="text-center text-primary">Youtube Downloader</h1>
        <p class="text-center text-light"> Solusi bagi kamu yang ingin download video dari youtube secara gratis!</p>
        <form class="d-flex" method="GET" action="download/download/">
            <input name="urls"  class="form-control me-2" type="search" placeholder="alamat url" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Download</button>
        </form>

        <!-- tahapan -->
        <div class="position-relative m-4 mt-5">
            <div class="progress" style="height: 1px;">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button> <p class="text-white mt-3 text-start" style="margin-left: -35px;">Paste URL</p>
            <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">2</button> <p class="text-white text-center" style="margin-top: -40px;" >Pilih resolusi & Download</p>
            <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button> <p class="text-white text-end" style="margin-top: -40px; margin-right:-65px;" >Tunggu progres</p>
            </div>
       </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-4">
             <!-- video frevious -->
             <div class="card" style="width: 18rem;">
                <div class="ratio ratio-16x9">
                    <iframe src="{{embded}}" title="YouTube video" allowfullscreen></iframe>
                  </div>
                <div class="card-body">
                  <h5 class="card-title" style="text-align: justify;" >{{title}}</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque animi iste, asperiores blanditiis.</p>                 
                  <a href="#" class="btn btn-outline-primary">Selengkannya</a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <form class="row g-3">
                <div class="col-6">
                    <label for="inputState" class="form-label"><h5>Resolutions</h5></label>
                    <select id="inputState" class="form-select">
                      <a href=""> <option selected>780P</option></a>
                      <a href=""> <option>480P</option></a>
                      <a href=""> <option>360P</option></a>                    
                    </select>
                    <a href="" class="btn btn-primary mt-3">Download</a>
                  </div>
            </form>
            <h5 class="mt-4"> Keterangan</h5>
            <p style="text-align: justify;">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod atque a expedita ratione officiis maiores in laborum error doloribus soluta rem veritatis sequi mollitia deserunt dolorem, suscipit eaque quia adipisci velit nisi sapiente, totam, odio corrupti itaque? Obcaecati blanditiis voluptatem possimus numquam labore laboriosam accusantium.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod atque a expedita ratione officiis maiores in laborum error doloribus soluta rem veritatis sequi mollitia deserunt dolorem, suscipit eaque quia adipisci velit nisi sapiente, totam, odio corrupti itaque? Obcaecati blanditiis voluptatem possimus numquam labore laboriosam accusantium.
            </p>

        </div>
    </div>
</div>
{%endblock konten%}