<footer class=" bg-dark d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
    <p class="col-md-4 mb-0 text-muted ms-4">© 2023 El-coder, Inc</p>

     <ul class="nav justify-content-end me-4">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Video</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Music</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Documents</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
</footer>
